<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJRfXAC0jqT1SqegXGN6Xwjgln9fd0A3s</string>
	<key>GCM_SENDER_ID</key>
	<string>804781465954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TigerLink-Gateway</string>
	<key>PROJECT_ID</key>
	<string>tigerlinkgateway</string>
	<key>STORAGE_BUCKET</key>
	<string>tigerlinkgateway.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804781465954:ios:57ba36fd00529ff4e54c3b</string>
</dict>
</plist>